sample_copy.pdf
sample_copy.aux
sample_copy.log
sample_copy.out
sample_copy.tex
sample.pdf
sample.aux
sample.log
sample.out
sample.bbl
sample.blg
sample.fls
sample.pag
sample.pdf
sample.fdb_latexmk
sample.synctex.gz
sample.synctex(busy).log
sample.synctex.gz(busy)
sample.synctex.gz(busy).log
sample.synctex.gz(busy).log
sample.synctex.gz(busy).log
.cursorrules